<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dcm-html5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <env-entry>
    <env-entry-name>local-storage-path</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>/temp/</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>cache-path</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>/temp/</env-entry-value>
  </env-entry>  
  <env-entry>
    <env-entry-name>disable-upload</env-entry-name>
    <env-entry-type>java.lang.Boolean</env-entry-type>
    <env-entry-value>true</env-entry-value>
  </env-entry>    
  <env-entry>
    <env-entry-name>aws-bucket</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>s3-dicom</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>aws-region</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>eu-central-1</env-entry-value>
  </env-entry>
  <context-param>
    <param-name>default-image-format</param-name>
    <param-value>PNG</param-value>
  </context-param>
  <ejb-local-ref>
    <ejb-ref-name>ejb/storage</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>storage.boundary.ImageStorage</local>
    <ejb-link>S3Storage</ejb-link>
    <injection-target>
      <injection-target-class>viewer.ImageViewer</injection-target-class>
      <injection-target-name>storage</injection-target-name>
    </injection-target>
    <injection-target>
      <injection-target-class>viewer.ContentDownloader</injection-target-class>
      <injection-target-name>storage</injection-target-name>
    </injection-target>
    <injection-target>
      <injection-target-class>storage.boundary.FilesUploader</injection-target-class>
      <injection-target-name>storage</injection-target-name>
    </injection-target>
    <injection-target>
      <injection-target-class>dicom.control.DicomResourceBean</injection-target-class>
      <injection-target-name>storage</injection-target-name>
    </injection-target>        
  </ejb-local-ref>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>